body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
}

.nav-hero {
    margin-left: 35px;
}

.text-hero-sec {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
  
li {
    display: inline-block;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.btn-hero {
    background-color: #EE4878;
    border: none;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 5px;
    color: white;
    font-family: inherit
}

a:hover {
    color: #EE4878;
}

a:visited {
    color: black;
}

.body {
    text-align: center;
    margin-top: 120px;
    font-size: 20px;
}

.tp {
    color: #8F8F8F;
}

.btn {
    background-color: #EE4878;
    border: none;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 5px;
    color: white;
    font-size: 19px;
    font-family: inherit;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#unique {
    background-color: white;
    border: 1px solid #DEDEDE;
    color: black;
}